:host ::ng-deep .card-info{
background-color: var(--surface-100);
}

:host ::ng-deep .card-icon{
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}