<p-panel class="items-center text-pretty text-center md:text-center">
    <div class="relative flex flex-col items-center -top-20 md:-top-20">
        <p-image
            src="https://media.licdn.com/dms/image/D4E03AQHUcwAip-1eXg/profile-displayphoto-shrink_800_800/0/1708408031601?e=1720051200&v=beta&t=n15FAVuR3s-QE3ahFCtbLjlH22VELzW8GBCHyof3uZc"
            class="w-48 h-48 md:w-48 md:h-48" [preview]="true"></p-image>
    </div>
    <div class="relative -top-20 md:-top-20 mt-2 md:mt-4">
        <h1 class="text-lg font-bold">José Armando Gutiérrez Rodríguez</h1>
        <p class="text-sm">{{ 'informationDescription' | translate }}</p>
        <div class="card flex justify-center align-items-center gap-2 flex-wrap mt-1 md:mt-2">
            <p-chip icon="pi pi-linkedin"></p-chip>
            <p-chip icon="pi pi-github"></p-chip>
            <p-chip icon="pi pi-facebook"></p-chip>
            <p-chip icon="pi pi-instagram"></p-chip>
        </div>
        <div class="mt-2 md:mt-4">
            <p-card styleClass="card-info text-left">
                <div class="flex items-center justify-center lg:justify-start">
                    <p-card class="w-10 h-10 mr-4" styleClass="card-icon">
                        <i class="pi pi-phone"></i>
                    </p-card>
                    <div>
                        <p class="text-xs">{{ 'informationSection1Label' | translate}}</p>
                        <p>+52 418 152 2619</p>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="flex items-start justify-center lg:justify-start">
                    <p-card class="w-10 h-10 mr-4" styleClass="card-icon">
                        <i class="pi pi-envelope"></i>
                    </p-card>
                    <div>
                        <p class="text-xs">Email</p>
                        <p>mamojose58&#64;gmail.com</p>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="flex items-center justify-center lg:justify-start">
                    <p-card class="w-10 h-10 mr-4" styleClass="card-icon">
                        <i class="pi pi-map-marker"></i>
                    </p-card>
                    <div>
                        <p class="text-xs">{{ 'informationSection3Label' | translate}}</p>
                        <p>Guanajuato, Mexico</p>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="flex items-center justify-center lg:justify-start">
                    <p-card class="w-10 h-10 mr-4" styleClass="card-icon">
                        <i class="pi pi-calendar"></i>
                    </p-card>
                    <div>
                        <p class="text-xs">{{ 'informationSection4Label' | translate}}</p>
                        <p>19/09/2003</p>
                    </div>
                </div>
            </p-card>
            <div class="mt-2 md:mt-4 card flex justify-center align-items-center">
                <p-button icon="pi pi-download" label="{{'informationButtonLabel' | translate}}"
                    (click)="descargarCV()"></p-button>
            </div>
        </div>
    </div>
</p-panel>