:host ::ng-deep .card1{
    background-color: var(--surface-200);
}

:host ::ng-deep .card2{
    background-color: var(--surface-100);
}

:host ::ng-deep .card3{
    background-color: var(--surface-100);
}

:host ::ng-deep .card4{
    background-color: var(--surface-200);
}

:host ::ng-deep .cardGlobal{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:host ::ng-deep .cardGlobal:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}