<p-panel class="text-pretty text-left">
    <h2 class="text-xl font-bold text-left mb-4">Experiencia</h2>
    <div class="grid gap-4 grid-cols-2">
        <div class="col-start-1">
            <h2 class="text-base font-bold text-left my-4">Educación</h2>
            <div class="grid gap-2 grid-cols-1">
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://www.utng.edu.mx/assets/principal/logo.png" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Ingeniero en Desarrollo y Gestión de Software</h2>
                            <p class="text-sm p-text-secondary">UTNG</p>
                        </div>
                    </div>
                </p-card>
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://www.utng.edu.mx/assets/principal/logo.png" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Técnico Superior Universitario en Desarrollo de Software Multiplataforma</h2>
                            <p class="text-sm p-text-secondary">UTNG</p>
                        </div>
                    </div>
                </p-card>
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://static.wixstatic.com/media/6d5e74_46e77edfd99c47428f6dc118cbd0c7e6~mv2.jpg/v1/fill/w_486,h_508,al_c/6d5e74_46e77edfd99c47428f6dc118cbd0c7e6~mv2.jpg" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Título en Especialidad de Programación</h2>
                            <p class="text-sm p-text-secondary">CBTIS No.75</p>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="col-start-2">
            <h2 class="text-base font-bold text-left my-4">Trabajo</h2>
            <p-card role="region" styleClass="card">
                <div class="flex justify-start">
                    <div class="w-16 h-16 mr-5 flex-shrink-0">
                        <p-image src="https://media.licdn.com/dms/image/C4D0BAQHb2S9tOD7voQ/company-logo_200_200/0/1630572705160?e=1723075200&v=beta&t=i6iM63-noQXPnBA7sTw7IpIG1Pqu344U5zE1JJz7WZM" class="w-full h-full object-cover" />
                    </div>
                    <div>
                        <p class="text-sm">15/10/2020 - acualidad</p>
                        <h2 class="font-bold text-sm">Desarrollador Web JR</h2>
                        <p class="text-sm p-text-secondary">SOFTOIL</p>
                    </div>
                </div>
            </p-card>
        </div>                                    
    </div>
</p-panel>
