:host ::ng-deep .card{
    background-color: var(--surface-200);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:host ::ng-deep .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}