<p-panel class="text-pretty text-left">
    <h2 class="text-xl font-bold text-left mb-4">Experiencia</h2>
    <div class="grid gap-4 grid-cols-2">
        <div class="col-start-1">
            <h2 class="text-base font-bold text-left my-4">Educación</h2>
            <div class="grid gap-2 grid-cols-1">
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://www.utng.edu.mx/assets/principal/logo.png" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Ingeniero en Desarrollo y Gestión de Software</h2>
                            <p class="text-sm p-text-secondary">UTNG</p>
                        </div>
                    </div>
                </p-card>
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://www.utng.edu.mx/assets/principal/logo.png" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Técnico Superior Universitario en Desarrollo de Software Multiplataforma</h2>
                            <p class="text-sm p-text-secondary">UTNG</p>
                        </div>
                    </div>
                </p-card>
                <p-card role="region" styleClass="card">
                    <div class="flex justify-start">
                        <div class="w-16 h-16 mr-5 flex-shrink-0">
                            <p-image src="https://static.wixstatic.com/media/6d5e74_46e77edfd99c47428f6dc118cbd0c7e6~mv2.jpg/v1/fill/w_486,h_508,al_c/6d5e74_46e77edfd99c47428f6dc118cbd0c7e6~mv2.jpg" class="w-full h-full object-cover" />
                        </div>
                        <div>
                            <p class="text-sm">15/10/2020 - acualidad</p>
                            <h2 class="font-bold text-sm">Título en Especialidad de Programación</h2>
                            <p class="text-sm p-text-secondary">CBTIS No.75</p>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="col-start-2">
            <h2 class="text-base font-bold text-left my-4">Trabajo</h2>
            <p-card role="region" styleClass="card">
                <div class="flex justify-start">
                    <div class="w-16 h-16 mr-5 flex-shrink-0">
                        <p-image src="https://media.licdn.com/dms/image/C4D0BAQHb2S9tOD7voQ/company-logo_200_200/0/1630572705160?e=1723075200&v=beta&t=i6iM63-noQXPnBA7sTw7IpIG1Pqu344U5zE1JJz7WZM" class="w-full h-full object-cover" />
                    </div>
                    <div>
                        <p class="text-sm">15/10/2020 - acualidad</p>
                        <h2 class="font-bold text-sm">Desarrollador Web JR</h2>
                        <p class="text-sm p-text-secondary">SOFTOIL</p>
                    </div>
                </div>
            </p-card>
        </div>        
    </div>
    <p-divider></p-divider>
    <div class="mt-4">
        <div class="grid gap-4 grid-cols-2 text-center mt-10">
          <div>
            <h2 class="text-base font-bold mb-4">Lenguajes de Programación</h2>
            <ul class="list-none space-y-2 pl-36">
              <li class="flex items-center justify-start"><i class="devicon-javascript-plain colored text-2xl mr-2"></i> JavaScript</li>
              <li class="flex items-center justify-start"><i class="devicon-typescript-plain colored text-2xl mr-2"></i> TypeScript</li>
              <li class="flex items-center justify-start"><i class="devicon-python-plain colored text-2xl mr-2"></i> Python</li>
              <li class="flex items-center justify-start"><i class="devicon-java-plain colored text-2xl mr-2"></i> Java</li>
            </ul>
          </div>
      
          <div>
            <h2 class="text-base font-bold mb-4">Habilidades Blandas</h2>
            <ul class="list-none space-y-2 pl-36">
              <li class="flex items-center justify-start"><p-chip>Autodidacta</p-chip></li>
              <li class="flex items-center justify-start"><p-chip>Cooperativo</p-chip></li>
              <li class="flex items-center justify-start"><p-chip>Adaptable</p-chip></li>
            </ul>
          </div>
        </div>
        
        <h2 class="text-base font-bold text-center my-6">Habilidades Técnicas</h2>
        <div class="grid grid-cols-5 gap-10 px-8">
          <div class="text-left px-2">
            <h3 class="font-semibold p-text-secondary mb-2">FrontEnd</h3>
            <ul class="list-none space-y-2">
              <li class="flex items-center"><i class="devicon-angularjs-plain colored text-2xl mr-2"></i> Angular</li>
              <li class="flex items-center"><i class="devicon-vuejs-plain colored text-2xl mr-2"></i> Vue</li>
              <li class="flex items-center"><i class="devicon-tailwindcss-plain colored text-2xl mr-2"></i> Tailwind</li>
              <li class="flex items-center"><i class="devicon-bootstrap-plain colored text-2xl mr-2"></i> Bootstrap</li>
            </ul>
          </div>
        
          <div class="text-left px-2">
            <h3 class="font-semibold p-text-secondary mb-2">BackEnd</h3>
            <ul class="list-none space-y-2">
              <li class="flex items-center"><i class="devicon-express-original colored text-2xl mr-2"></i> Express</li>
              <li class="flex items-center"><i class="devicon-nestjs-plain colored text-2xl mr-2"></i> Nest</li>
              <li class="flex items-center"><i class="devicon-spring-plain colored text-2xl mr-2"></i> SpringBoot</li>
              <li class="flex items-center"><i class="devicon-fastapi-plain colored text-2xl mr-2"></i> FastApi</li>
            </ul>
          </div>
        
          <div class="text-left px-2">
            <h3 class="font-bold p-text-secondary mb-2">BD</h3>
              <ul class="list-none space-y-2">
                @for (database of databases; track database) {
                  <li class="flex items-center">
                    <i class="{{database.icon}} colored text-2xl mr-2"></i> {{database.name}}
                  </li>
                }
              </ul>
          </div>
                  
          <div class="text-left px-2">
            <h3 class="font-bold p-text-secondary mb-2">Servicios</h3>
            <ul class="list-none space-y-2">
              <li class="flex items-center"><i class="devicon-amazonwebservices-plain-wordmark colored text-2xl mr-2"></i> AWS</li>
              <li class="flex items-center"><i class="devicon-firebase-plain colored text-2xl mr-2"></i> Firebase</li>
            </ul>
          </div>
        
          <div class="text-left px-2">
            <h3 class="font-bold p-text-secondary mb-2">Otros</h3>
            <ul class="list-none space-y-2">
              <li class="flex items-center"><i class="devicon-git-plain colored text-2xl mr-2"></i> Git</li>
              <li class="flex items-center"><i class="devicon-github-original colored text-2xl mr-2"></i> GitHub</li>
              <li class="flex items-center"><i class="devicon-docker-plain colored text-2xl mr-2"></i> Docker</li>
            </ul>
          </div>
        </div>
    </div>
</p-panel>
